<div class="grid" [routerLink]="['/item', item.id]">
  <div class="priority priority-{{priority}}"></div>
  <div class="image"><img *ngIf="item.image" [src]="item.image" alt="Image" width="50" height="50"></div>
  <div class="name-description">
    <div class="name">
      <span class="name-text">{{item.name}}</span>
      <span class="tag" *ngFor="let tag of item.tags">{{tag}}</span>
    </div>
    <div class="description">{{item.description}}</div>
  </div>
  <div class="note">{{item.note}}</div>
  <div class="budget">{{item.budget}}€</div>
  <div class="price">{{item.price}}€</div>
  <div class="actions">
    <button mat-raised-button color="accent" (click)="edit(); $event.stopPropagation()"><fa-icon [icon]="iconEdit"></fa-icon> Edit</button>
    <button mat-raised-button color="warn" (click)="delete(); $event.stopPropagation()"><fa-icon [icon]="iconDelete"></fa-icon> Delete</button>
  </div>
</div>
