@import "../../priority";
@import "../../grid";
@import "../../../styles/variables";

.grid {
  display: grid;
  grid-template-columns: $grid-column;
  height: $grid-item-height;
  border-bottom: $border-width solid black;

  & > * {
    padding-left: $grid-padding-left;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }

  .priority {
    padding-left: 0;
    height: 100%;
    width: 100%;
  }

  .image {
    img {
      border-radius: 5px;
    }
  }

  .name-description {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .name {
      display: flex;
      align-items: center;
      font-size: 17pt;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      font-weight: 800;

      .folder-icon {
        margin-right: 8px;
      }

      .tag {
        font-size: 11pt;
        font-weight: 600;
        background-color: #aaa;
        border-radius: 8px;
        padding: 2px 8px;
        margin-left: 12px;
        border: 1px solid black;
      }
    }

    .description {
      font-size: 14pt;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
    }
  }

  .note {
    //font-style: italic;
  }

  .price, .budget {
    font-size: 16pt;
    font-weight: 500;
  }

  .actions {
    button {
      margin-right: 10px;
    }
  }
}

.priority-low {
  background-color: rgba($priority-low-color, 1);
}

.priority-normal {
  background-color: rgba($priority-normal-color, 1);
}

.priority-high {
  background-color: rgba($priority-high-color, 1);
}

.priority-severe {
  background-color: rgba($priority-severe-color, 1);
}

.priority-critical {
  background-color: rgba($priority-critical-color, 1);
}
