<div class="grid" [routerLink]="['/list', list.id]">
  <div class="priority priority-{{priority}}"></div>
  <div class="image"><img *ngIf="list.image" [src]="list.image" alt="Image" width="50" height="50"></div>
  <div class="name-description">
    <div class="name">
      <span class="name-text">
        <fa-icon [icon]="faFolder" class="folder-icon"></fa-icon>
        {{list.name}}
      </span>
      <span class="tag" *ngFor="let tag of list.tags">{{tag}}</span>
    </div>
    <div class="description">{{list.description}}</div>
  </div>
  <div class="note">{{list.note}}</div>
  <div class="budget">{{list.budget}}€</div>
  <div class="price">{{list.price}}€</div>
  <div class="actions">
    <button mat-raised-button color="accent" (click)="edit(); $event.stopPropagation()"><fa-icon [icon]="iconEdit"></fa-icon> Edit</button>
    <button mat-raised-button color="warn" (click)="delete(); $event.stopPropagation()"><fa-icon [icon]="iconDelete"></fa-icon> Delete</button>
  </div>
</div>
