$font-normal: 'Montserrat', 'Roboto';
$font-highlight: 'Montserrat Black';
$border-width: 1.5pt;
$border-radius: 10px;
$header-background-color: #ddd;
$header-padding-vertical: 36px;
$header-padding-horizontal: 14px;
