<div class="container" *ngIf="list">
  <mat-form-field>
    <input matInput type="text" placeholder="Name" [(ngModel)]="list.name">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Description" [(ngModel)]="list.description">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput rows="5" placeholder="Note" [(ngModel)]="list.note"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="list.priority" placeholder="Priority">
      <mat-option *ngFor="let e of priorities" [value]="Priority[e]">{{e}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="list.aggregate" placeholder="Aggregate">
      <mat-option [value]="Aggregate.And"><b>AND</b>: all the items must be bought</mat-option>
      <mat-option [value]="Aggregate.Or"><b>OR</b>: one of the items must be bought</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Budget" [(ngModel)]="list.budget" step="10">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="url" placeholder="Image URL" [(ngModel)]="list.image">
  </mat-form-field>

  <mat-form-field>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of list.tags" [removable]="true" (removed)="removeTag(tag)">
        {{tag}}
        <fa-icon [icon]="faTimesCircle" matChipRemove></fa-icon>
      </mat-chip>
      <input placeholder="New tag..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="ok()">OK</button>
  </div>
</div>
