<div class="header">
  <div class="filter">
    <mat-form-field>
      <input matInput placeholder="Filter" [(ngModel)]="filter">
    </mat-form-field>
  </div>

  <div class="grow"></div>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="newItem()" *ngIf="list"><fa-icon [icon]="iconAdd"></fa-icon> New item</button>
    <button mat-raised-button color="primary" (click)="newList()"><fa-icon [icon]="iconAdd"></fa-icon> New list</button>
    <button mat-raised-button color="accent" (click)="edit()" *ngIf="list"><fa-icon [icon]="iconEdit"></fa-icon> Edit</button>
    <button mat-raised-button color="warn" (click)="delete()" *ngIf="list"><fa-icon [icon]="iconDelete"></fa-icon> Delete</button>
  </div>
</div>

<div class="table-header">
  <app-sort-indicator field="" [sortable]="true" [sortField]="SortFields.Priority" [selectedSortField]="selectedSortField" [selectedSortOrder]="selectedSortOrder" (sort)="sortByPriority()"></app-sort-indicator>
  <app-sort-indicator field="Image" [sortable]="false"></app-sort-indicator>
  <app-sort-indicator field="Name" [sortable]="true" [sortField]="SortFields.Name" [selectedSortField]="selectedSortField" [selectedSortOrder]="selectedSortOrder" (sort)="sortByName()"></app-sort-indicator>
  <app-sort-indicator field="Note" [sortable]="false"></app-sort-indicator>
  <app-sort-indicator field="Budget" [sortable]="true" [sortField]="SortFields.Budget" [selectedSortField]="selectedSortField" [selectedSortOrder]="selectedSortOrder" (sort)="sortByBudget()"></app-sort-indicator>
  <app-sort-indicator field="Price" [sortable]="true" [sortField]="SortFields.Price" [selectedSortField]="selectedSortField" [selectedSortOrder]="selectedSortOrder" (sort)="sortByPrice()"></app-sort-indicator>
  <app-sort-indicator field="Actions" [sortable]="false"></app-sort-indicator>
</div>

<div class="items">
  <ng-container *ngFor="let e of elements | filterElement:filter">
    <app-list-view [list]="e.element" *ngIf="e.key === 'list'" class="item"></app-list-view>
    <app-item-view [item]="e.element" [listId]="list.id" *ngIf="e.key === 'item'" class="item"></app-item-view>
  </ng-container>
</div>
