@import "../../grid";
@import "../../../styles/variables";

.header {
  display: flex;
  background-color: $header-background-color;
  padding: 0 $header-padding-vertical;
  align-items: center;

  .grow {
    flex-grow: 1;
  }

  .actions {
    button {
      margin-left: 8px;
    }
  }
}

.table-header {
  display: grid;
  grid-template-columns: $grid-column;
  background-color: $header-background-color;
  border-bottom: $border-width solid #000;
}
