<div class="container" *ngIf="item">
  <button (click)="back()">Go back</button>
  <button (click)="edit()">Edit</button>
  <button (click)="delete()">Delete</button>

  <span>{{item.name}}</span>
  <span>{{item.description}}</span>
  <span>{{item.note}}</span>
</div>
