@import "../../../grid";
@import "../../../../styles/variables";

.container {
  position: relative;
  font-size: 11pt;
  font-weight: 500;

  .content {
    display: inline-block;
    padding-left: $grid-padding-left;
  }

  .sort-indicator {
    display: none;
    margin-left: 10px;
  }

  &:hover {
    background: linear-gradient(to top, #ccc8, #fff0);
    cursor: pointer;
  }

  &.sorting {
    .sort-indicator {
      display: inline;
    }
  }
}

.container:before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  background: linear-gradient(to top, #000, #fff0);
  width: $border-width;
}

.container.no-field {
  .content {
    padding-left: 0;
  }

  &:before {
    content: none;
  }
}

.sorting {
  .sort-indicator {
    display: inline !important;
  }

  .content {
    font-weight: 600;
  }

  &.desc {
    background: linear-gradient(to top, #0190FF33, #fff0 75%);

    .sort-indicator {
      color: dodgerblue;
    }
  }

  &.asc {
    background: linear-gradient(to top, #FF000033, #fff0 75%);

    .sort-indicator {
      color: red;
    }
  }
}

.invisible {
  opacity: 0;
}
