<div [ngClass]="['container', sortOrderClassName]" (click)="sort.emit()" [class.sorting]="sortField && selectedSortField === sortField" [class.no-field]="!field">
  <div class="content">
    <span>{{field}}</span>
  </div>

  <ng-container [ngSwitch]="selectedSortOrder">
    <fa-icon [icon]="iconDesc" *ngSwitchCase="SortOrders.Desc" class="sort-indicator"></fa-icon>
    <fa-icon [icon]="iconAsc" *ngSwitchCase="SortOrders.Asc" class="sort-indicator"></fa-icon>
  </ng-container>
</div>
