.container {
  margin: 20px auto auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;

  .actions {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 8px;
    }
  }
}
