<div class="container" *ngIf="item">
  <mat-form-field>
    <input matInput type="text" placeholder="Name" [(ngModel)]="item.name">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Description" [(ngModel)]="item.description">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput rows="5" placeholder="Note" [(ngModel)]="item.note"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="item.priority" placeholder="Priority">
      <mat-option *ngFor="let e of priorities" [value]="Priority[e]">{{e}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Budget" [(ngModel)]="item.budget" step="10">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Price" [(ngModel)]="item.price" step="10">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="url" placeholder="Image URL" [(ngModel)]="item.image">
  </mat-form-field>

  <mat-form-field>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of item.tags" [removable]="true" (removed)="removeTag(tag)">
        {{tag}}
        <fa-icon [icon]="faTimesCircle" matChipRemove></fa-icon>
      </mat-chip>
      <input placeholder="New tag..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="ok()">OK</button>
  </div>
</div>
