@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "/styles/fonts";
@import "/styles/variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: $font-normal, sans-serif;
}
