<ng-container *ngIf="list">
  <div class="header">
    <div class="up" (click)="back()">
      <fa-icon [icon]="iconUp"></fa-icon>
    </div>

    <div class="image" *ngIf="list.image">
      <img [src]="list.image" alt="Image" width="100" height="100">
    </div>

    <div class="left">
      <div class="name">{{list.name}}</div>
      <div class="description">{{list.description}}</div>
      <div class="note">{{list.note}}</div>
    </div>

    <div class="right">
      <div class="highlight"><span class="highlight-key">Budget</span>: <span class="highlight-value">{{list.budget || list.customBudget}}€</span></div>
      <ng-container [ngSwitch]="list.aggregate">
        <ng-container *ngSwitchCase="Aggregate.And">
          <div class="highlight"><span class="highlight-key">Total price</span>: <span class="highlight-value">{{list.price}}€</span></div>
        </ng-container>
        <ng-container *ngSwitchCase="Aggregate.Or">
          <div class="highlight"><span class="highlight-key">Max price</span>: <span class="highlight-value">{{list.maxPrice}}€</span></div>
          <div class="highlight"><span class="highlight-key">Min price</span>: <span class="highlight-value">{{list.minPrice}}€</span></div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <app-table-view [list]="list" [lists]="list.lists" [items]="list.items"></app-table-view>
</ng-container>
