@import "../../../styles/variables";

.header {
  display: flex;
  flex-direction: row;
  background-color: $header-background-color;
  padding: $header-padding-horizontal $header-padding-vertical;

  .up {
    font-size: 26pt;
    margin-right: 26px;

    &:hover {
      color: red;
      cursor: pointer;
    }
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;

    img {
      border-radius: 6px;
    }
  }

  .left {
    flex-grow: 1;

    .name {
      font-size: 26pt;
      font-weight: 900;
      margin-bottom: 6px;
    }

    .description {
      font-size: 18pt;
      margin-bottom: 4px;
    }

    .note {
      font-size: 15pt;
      font-weight: 300;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    font-size: 18pt;

    .highlight-key {
      font-weight: 600;
    }

    .highlight {
      margin: 0 10px;
    }
  }
}
